# Root
node_modules/
.env
.env.local
.DS_Store
dist/
build/
*.log

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
Thumbs.db

# Editor directories and files
.vscode/
.idea/

# React client (assumes in /client)
client/node_modules/
client/.env
client/.env.local
client/.next/
client/build/
client/dist/

# Server (assumes in /server)
server/node_modules/
server/.env
server/.env.local
server/dist/
server/build/
